:root {
  --purp: #524763;
  --darkPurp: #373142;
  --xtraPurp: #191324;
  --grey: #d8d8d8;
  --teal: #82d8d8;
  --darkTeal:#2fc4b2;
  --red: #e54b4b;
  --black: #333;
  --black-20: #4f4f4f;
  --black-40: #828282;
  --black-60: #bdbdbd;
  --white-60: #e0e0e0;
  --white-40: #f2f2f2;
  --white-20: #f5f4f6;
  --white: #fff;
}
.body{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  font-family: 'Roboto', sans-serif;
  background-color: var(--xtraPurp);
}

.App {
  text-align: center;
  color:white;
}
.nav-wrapper { 
  background: var(--purp);
}

.App-link {
  color: var(--teal);
}



.nav-wrapper a {
  display: block;
  text-align: left;
  font-size: 2rem;
  color: white;
  text-decoration: none;
  transition: 0.3s ease border;
  border-bottom: solid 4px transparent;
}

.nav-wrapper a:hover {
  border-bottom: solid 4px var(--teal);
}

.nav-toggler{
  color:white;
}

.home{
  position: relative;
  background-color:#d2fafb;
  height: 90vh;
  width:100%;
  padding:5% 5% 5% 5%;
  color:var(--darkPurp);
  background-image:url("images/boston.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size:100% 20%;
 }

.avatar{
  min-width: 25ch;
  min-height: 25ch;
  width: 25vw;
  height: 25vw;
  max-width: 100ch;
  max-height: 100ch;
}

.home h1{
  font-family: 'Marck Script',cursive;
  font-size: 6em; 
}

.home p{
   font-size: 1.5em;
 }

.right-cloud{
  position: absolute;
  height:10%;
  width:10%;
  top:14%;
  right:66%;
}

.left-cloud{
  position: absolute;
  height:10%;
  width:10%;
  top:30%;
  left:66%;
}

@media only screen and (max-width: 1100px) {
  .left-cloud {
    display: none;
  }
  .right-cloud{
    display: none;
  }
}

.portfolio{
  padding:5%;
  color: white;
  text-align: center;
  background-color: var(--darkPurp);
  height:90vh;
  height:100%;
}

.portfolio h1{
  font-size: 4rem;

}

.border{
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
}

.card-style{
  padding:2%;
  align-items: center;
  background-color:#373142;
  border: 10px solid;
  border-image-slice:1; 
  border-width: 5px;
  border-radius:10px; 
  border-image-source:linear-gradient(to left, #743ad5, #d53a9d);
  margin-bottom: 5%;
}

.footer{
  padding-top:1%;
  padding-bottom:1%;
  padding-right: 40%;
  padding-left: 40%;
  text-align: center;
  background-color: var(--xtraPurp);
  color:white;
  
}

.footer a{
  background-color: var(--xtraPurp);
  font-size: 1.5rem;
  text-decoration: none;
  color:white;
}
.footer a:hover {
  border-bottom: solid 1px var(--teal);
}

.contact{
  height: 90vh;
  background-color: pink;
}

.about{
  height:100%;
  background:#212531;
  background: linear-gradient(to right bottom, #373142 50%, #191324 50%); 
  padding:0.75em 2.0em;
  font-size:1.5em;
  text-align:center;
  color:#ffffff;
}


.aboutme{
  padding:10% 3% 3% 10%;
}

.aboutme h1{
  font-size: 4rem;
  margin-bottom: 10%;
}
.text-background{
  padding-top:5%;
  border-radius: 10px;
  
}

.biography img{
  margin:5%;
  width:80%;
  border-radius: 2%;  
}
.resume{
  padding-top:10%;
}
.resume h1{
  margin-bottom: 10%;
}
.resume a:hover {
  border-bottom: solid 4px var(--teal);
}
.contact{
  color:white;
  background-color: var(--xtraPurp);
  height:100%;
  padding:5%
}
.contact-jumbo{
  color:white;
  background-color: var(--xtraPurp);
  text-align: center;
}
.contact-note{
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
}

.contact-form{
  padding-left: 5%;
}

.contact-note p{
  font-size: 2rem;
}